=content_for :title do
  Mark It Now!
%br
%h1 Search
=text_field_tag :word
#area
%h1 Recents
-@recents.each do |r|
  -begin
    %p
      -case r.class.to_s
      -when 'Recent'
        =link_to "#{r.page.comic.title} (Page #{r.page.page})", read_path(id: r.page.comic.id, page: r.page.page)
      -when 'RecentAozora'
        =link_to "#{r.comic.title} (Page #{r.page.to_i})", aozora_path(id: r.comic.id, page: r.page.to_i)
      -when 'RecentTxt'
        =link_to "#{r.comic.title} (Page #{r.page.to_i})", text_path(id: r.comic.id, page: r.page.to_i)
  -rescue =>e
    -r.destroy

.none
  %span#action=params[:action]
  %span#controller=params[:controller]
  %span#id=params[:id]
